In [9]:
import pandas as pd
import os
df = pd.read_csv("earthquakes.csv")

print("Jumlah baris pada tabel data adalah " + str(len(df)))

Jumlah baris pada tabel data adalah 123

In [18]:
print("Jumlah kolom pada tabel data adalah " + str(len(df.columns)))

Jumlah kolom pada tabel data adalah 8

In [13]:
print("Jumlah data: " + str(len(df)))

Jumlah data: 123

In [14]:
file_path = "earthquakes.csv"
size = os.path.getsize(file_path)
print('Ukuran file: ' + str(size) + ' bytes')

Ukuran file: 6363 bytes

In [25]:
# mengambil data dengan jumlah kematian maksimum
imax = df["deaths"].idxmax()
df[imax:imax + 1]

    Unnamed: 0  year month  day  richter      area region    deaths
72          73  1970   May   31      7.9  Chimbote   Peru  700000.0

In [24]:
# mengambil data dengan jumlah kematian minimum 
imin = df["deaths"].idxmin()
df[imin:imin + 1]

     Unnamed: 0  year month  day  richter     area         region  deaths
107         108  1992  June   28      7.3  Landers  United States     3.0

In [28]:
# mengurutkan data dari skala richter terbesar sampai dengan skala richter terkecil
df.sort_values(["richter"], ascending=0)

,Unnamed: 0,year,month,day,richter,area,region,deaths
61,62,1960,May,21,9.5,South,Chile,1655.0
64,65,1964,March,27,9.2,Alaska,United States,131.0
5,6,1906,January,31,8.8,Esmeraldas (off coast),Ecuador,1000.0
53,54,1950,August,15,8.6,Assam,India,1526.0
8,9,1906,August,17,8.6,Valparaiso,Chile,3882.0
...,...,...,...,...,...,...,...,...
54,55,1951,August,2,5.8,Cosiguina,Nicaragua,1000.0
19,20,1923,March,25,5.7,Torbat-e Heydariyeh,Iran,2200.0
60,61,1960,February,29,5.7,Agadir,Morocco,12000.0
28,29,1931,April,27,5.7,Border,Armenia-Azerbaijan,2800.0
96,97,1986,October,10,5.5,NaN,El Salvador,1000.0

In [29]:
# mengurutkan data dari jumlah kematian terbesar sampai dengan jumlah kematian terkecil
df.sort_values(["deaths"], ascending=0)

,Unnamed: 0,year,month,day,richter,area,region,deaths
72,73,1970,May,31,7.9,Chimbote,Peru,700000.0
84,85,1976,July,28,7.5,Tangshan,China,255000.0
17,18,1920,December,16,7.8,Gansu,China,200000.0
20,21,1923,September,1,7.9,Yokohama,Japan,142800.0
50,51,1948,October,5,7.3,Ashgabat,Turkmenistan,110000.0
...,...,...,...,...,...,...,...,...
100,101,1989,October,17,6.9,San Francisco,United States,63.0
111,112,1994,January,17,6.8,Northridge,United States,61.0
107,108,1992,June,28,7.3,Landers,United States,3.0
106,107,1992,March,15,6.0,East,Turkey,NaN
108,109,1992,June,28,6.5,Big Bear,United States,NaN

In [31]:
# menampilkan tabel frekuensi kemunculan tahun 
df["year"].value_counts()

1976    6
1992    5
1906    4
1923    3
1966    3
       ..
1969    1
1934    1
1929    1
1977    1
1956    1
Name: year, Length: 70, dtype: int64

In [33]:
# menampilkan tabel frekuensi kematian
df["deaths"].value_counts()

1000.0      14
4000.0       5
2000.0       4
12000.0      4
5000.0       4
            ..
4700.0       1
110000.0     1
5050.0       1
1526.0       1
2400.0       1
Name: deaths, Length: 82, dtype: int64

In [35]:
# menampilkan tabel frekuensi kemunculan bulan
df["month"].value_counts()

March        17
May          14
December     12
August       12
January      11
July         10
February      9
September     9
October       8
June          8
April         7
November      6
Name: month, dtype: int64

In [34]:
# menampilkan tabel frekuensi skala richter
df["richter"].value_counts()

7.3    13
6.8    11
7.5    10
7.0     9
6.9     7
7.1     7
7.4     6
7.6     6
7.7     4
7.8     4
6.5     4
6.0     4
7.2     4
6.2     4
8.1     3
5.9     3
5.7     3
7.9     3
8.0     3
6.6     2
5.8     2
6.1     2
8.6     2
8.8     1
9.5     1
9.2     1
6.4     1
6.7     1
5.5     1
8.4     1
Name: richter, dtype: int64

In [39]:
# menentukan range skala richter dengan melihat nilai minimum
minimum = df["richter"].min()
print("skala richter minimum adalah, " + str(minimum)) # menunjukkan skala richter terkecil pada tabel data

skala richter minimum adalah, 5.5

In [40]:
# menentukan range skala richter dengan melihat nilai maksimum
maximum = df["richter"].max()
print("skala richter maksimum adalah, " + str(maximum)) # menunjukkan skala richter terbesar pada tabel data

skala richter maksimum adalah, 9.5

In [51]:
# menentukan range kematian dengan melihat nilai minimum
minimum = df["deaths"].min()
print("jumlah kematian terkecil adalah, " + str(minimum)) # menunjukkan jumlah kematian terkecil pada tabel data

jumlah kematian terkecil adalah, 3.0

In [53]:
# menentukan range kematian dengan melihat nilai maksimum
maximum = df["deaths"].max()
print("jumlah kematian terbesar adalah, " + str(maximum))

jumlah kematian terbesar adalah, 700000.0

In [41]:
df.describe() # mengambil statistik data secara keseluruhan

       Unnamed: 0         year         day     richter         deaths
count  123.000000   123.000000  123.000000  123.000000     121.000000
mean    62.000000  1956.609756   16.975610    7.128455   17683.272727
std     35.651087    29.379829    9.140491    0.725814   71090.697176
min      1.000000  1902.000000    1.000000    5.500000       3.000000
25%     31.500000  1933.000000   10.000000    6.800000    1250.000000
50%     62.000000  1960.000000   17.000000    7.200000    2790.000000
75%     92.500000  1981.000000   25.000000    7.500000    8000.000000
max    123.000000  1999.000000   31.000000    9.500000  700000.000000

In [46]:
# mengambil statistik satu per satu
df["richter"].mean() # melihat rata-rata skala richter

7.128455284552846

In [48]:
df["richter"].std() # melihat standar deviasi skala richter

0.725814446459326

In [49]:
df["deaths"].mean() # melihat rata-rata kematian

17683.272727272728

In [50]:
df["deaths"].std() # melihat standar deviasi kematian

71090.69717609565

In [54]:
korelasi = df["richter"].corr(df["deaths"])
print("Nilai korelasi antara nilai skala richter dan jumlah kematian adalah " + str(korelasi))

Nilai korelasi antara nilai skala richter dan jumlah kematian adalah 0.1606880207295657